:root {
    --font-family: 'Helvetica';
    color-scheme: light dark;
}

:link { color: #6262F4; }
:visited { color: #6262F4; }
:link:active, :visited:active { color: #6262F4; }

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: light-dark(#000, #fff);
    background-color: light-dark(#fff, #000);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    height: 100%;
    justify-content: space-between;
    letter-spacing: .1em;
    margin: 0;
    padding: 16pt;
    text-align: center;
}

#picture {
    width: 200px;
    border-radius: 33%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}